* {
  font-family: "Poppins", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul, li, p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.overlapping_link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

#loginModal {
  width: 30%;
  position: fixed;
  right: 3%;
  top: 3%;
  z-index: 1000;
  background: white;
  border: 1px solid #ccc;
  box-shadow: -5px 20px 20px 9px #636363;
}
#loginModal .phone {
  font-weight: 700;
  padding-left: 25px;
  text-decoration: none;
  color: black;
  background-image: url("../images/icons/mobile.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 15px;
}
@media (max-width: 768px) {
  #loginModal {
    width: 60%;
  }
}
@media (max-width: 600px) {
  #loginModal {
    width: 90%;
    right: 50%;
    transform: translateX(50%);
    padding: 18px !important;
  }
}
@media (max-width: 480px) {
  #loginModal {
    top: 1%;
  }
}
#loginModal label {
  margin-top: 30px;
}
@media (max-width: 600px) {
  #loginModal label {
    margin-top: 10px;
  }
}
#loginModal .btn {
  margin-top: 30px;
  background-color: #0097da;
  color: white;
}
@media (max-width: 600px) {
  #loginModal .btn {
    margin-top: 10px;
  }
}
#loginModal .btn:hover {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}
#loginModal .modal_close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 15px;
  width: 15px;
  background-image: url("../images/icons/cancel.svg");
  background-size: contain;
  background-position: center;
}
@media (max-width: 600px) {
  #loginModal .modal_close {
    right: 10px;
    top: 10px;
  }
}

.menu_wrapper {
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
  transition: all 300ms ease-in-out;
}
.menu_wrapper .desktop_menu {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .menu_wrapper .desktop_menu {
    display: none;
  }
}
.menu_wrapper .desktop_menu #shop {
  font-weight: 700;
}
.menu_wrapper .desktop_menu .logo {
  position: relative;
}
.menu_wrapper .desktop_menu .logo img {
  width: 25%;
}
.menu_wrapper .desktop_menu .row {
  align-items: center;
  justify-content: space-around;
}
.menu_wrapper .desktop_menu .row ul {
  list-style-type: none;
}
.menu_wrapper .desktop_menu .row ul li {
  text-align: right;
  width: intrinsic;
  /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;
  /* Firefox/Gecko */
  width: -webkit-max-content;
}
.menu_wrapper .desktop_menu .row ul a {
  color: #222222;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}
.menu_wrapper .desktop_menu .row ul a:hover {
  text-decoration: none;
  color: #0097da;
}
.menu_wrapper .desktop_menu .row .icons img {
  width: 20%;
  cursor: pointer;
}
.menu_wrapper .desktop_menu .row input {
  color: white;
  background: #0097da;
  border: none;
  padding: 0;
  max-height: 0;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.menu_wrapper .desktop_menu .row input::placeholder {
  color: white;
}
.menu_wrapper .mobile_menu {
  display: none;
}
@media (max-width: 768px) {
  .menu_wrapper .mobile_menu {
    display: block;
  }
}
.menu_wrapper .mobile_menu .logo {
  width: 50%;
  position: relative;
}
.menu_wrapper .mobile_menu .logo .icon {
  height: 45px;
  padding: 5px;
}
.menu_wrapper .mobile_menu .humberger_menu {
  position: relative;
  width: 50%;
}
.menu_wrapper .mobile_menu .humberger_menu img {
  height: 20px;
  right: 18px;
  top: 10px;
  cursor: pointer;
  position: absolute;
  transition: all 250ms ease-in-out;
  z-index: 1000;
}
.menu_wrapper .mobile_menu_list {
  position: absolute;
  top: 0;
  right: -100%;
  height: 100vh;
  background: #0000009e;
  transition: all 200ms ease-in-out;
}
@media (max-width: 768px) {
  .menu_wrapper .mobile_menu_list {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .menu_wrapper .mobile_menu_list {
    width: 90%;
  }
}
.menu_wrapper .mobile_menu_list ul {
  list-style: none;
  padding-left: 40px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 600px) {
  .menu_wrapper .mobile_menu_list ul {
    padding-left: 35px;
  }
}
.menu_wrapper .mobile_menu_list ul li {
  margin: 10px 0;
}
.menu_wrapper .mobile_menu_list ul li .btn {
  font-size: 40px;
  padding: 0;
}
@media (max-width: 600px) {
  .menu_wrapper .mobile_menu_list ul li .btn {
    font-size: 30px;
  }
}
.menu_wrapper .mobile_menu_list ul li a {
  font-size: 40px;
  text-decoration: none;
  color: white;
}
@media (max-width: 600px) {
  .menu_wrapper .mobile_menu_list ul li a {
    font-size: 30px;
  }
}
.menu_wrapper .mobile_menu_list ul li a:hover {
  color: #0097da;
}

.banner_wrapper {
  overflow: hidden;
  background-image: url("../images/banner-back.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}
.banner_wrapper .row {
  height: 85vh;
  align-content: center;
}
@media (max-width: 768px) {
  .banner_wrapper .row {
    padding-left: 10px;
  }
}
.banner_wrapper .row h1 {
  font-size: 50px;
  font-weight: 700;
}
.banner_wrapper .row h1, .banner_wrapper .row p {
  color: white;
  padding: 0;
}
.banner_wrapper .row button {
  background-color: #0097da;
  color: white;
  width: 200px;
  height: 70px;
}
.banner_wrapper .row button:hover {
  background-color: whitesmoke;
  color: #1a1a1a;
}
.banner_wrapper img {
  width: 100%;
  transform: translateY(-30%);
}

.services {
  margin-bottom: 100px;
}
.services .item {
  text-align: center;
  margin-top: 30px;
}
.services .item img {
  width: 50%;
}
@media (max-width: 480px) {
  .services .item img {
    width: 70%;
  }
}

.supplier, .clients {
  position: relative;
  margin-bottom: 100px;
}
.supplier .row, .clients .row {
  flex-wrap: nowrap;
  margin: 0;
}
.supplier .row .inner-items, .clients .row .inner-items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.supplier .row .inner-items img, .clients .row .inner-items img {
  border-radius: 5px;
  width: 80%;
}
.supplier .swiper-button-next, .supplier .swiper-button-prev, .clients .swiper-button-next, .clients .swiper-button-prev {
  bottom: auto;
  top: 40px;
  color: black;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
  width: auto;
  z-index: 100;
  opacity: 1;
}
.supplier .swiper-button-next:focus, .supplier .swiper-button-prev:focus, .clients .swiper-button-next:focus, .clients .swiper-button-prev:focus {
  outline: transparent;
}
.supplier .swiper-button-next:hover, .supplier .swiper-button-prev:hover, .clients .swiper-button-next:hover, .clients .swiper-button-prev:hover {
  color: #0097da;
}
.supplier .swiper-button-next::after, .supplier .swiper-button-prev::after, .clients .swiper-button-next::after, .clients .swiper-button-prev::after {
  display: none;
}
@media (max-width: 600px) {
  .supplier .swiper-button-next, .supplier .swiper-button-prev, .clients .swiper-button-next, .clients .swiper-button-prev {
    font-size: 12px;
  }
}
.supplier .swiper-button-next, .clients .swiper-button-next {
  right: 10%;
}
@media (max-width: 768px) {
  .supplier .swiper-button-next, .clients .swiper-button-next {
    right: 6%;
  }
}
.supplier .swiper-button-prev, .clients .swiper-button-prev {
  right: 15%;
  left: auto;
  padding-right: 2%;
  border-right: 2px solid #272727;
}
@media (max-width: 1020px) {
  .supplier .swiper-button-prev, .clients .swiper-button-prev {
    right: 11%;
  }
}
@media (max-width: 768px) {
  .supplier .swiper-button-prev, .clients .swiper-button-prev {
    right: 13%;
  }
}
@media (max-width: 600px) {
  .supplier .swiper-button-prev, .clients .swiper-button-prev {
    right: 15%;
  }
}

@media (max-width: 600px) {
  .supplier .swiper-container {
    margin-top: 20px;
  }
}

.clients .inner-items {
  flex-direction: column;
}
.clients .inner-items .item {
  text-align: center;
}

.slogan_wrapper {
  margin-bottom: 100px;
  min-height: 450px;
  padding-right: 10%;
  background-image: url("../images/slogan.jpg");
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .slogan_wrapper {
    min-height: 350px;
  }
}

.contact {
  margin-bottom: 100px;
}
.contact .map {
  margin-top: 30px;
  min-height: 400px;
  background-image: url("../images/map.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 10px;
}
.contact .tel {
  background-position: left;
  background-size: 15px;
  background-repeat: no-repeat;
  padding-left: 25px;
  color: black;
  text-decoration: none;
  background-image: url("../images/icons/mobile.svg");
}
.contact .tel:hover {
  color: #0097da;
}
.contact button {
  background-color: #0097da;
  color: white;
  border: none;
  margin-top: 30px;
}
.contact button:hover {
  background-color: white;
  border: 1px solid #ccc;
  color: black;
}
@media (max-width: 600px) {
  .contact button {
    margin-top: 20px;
  }
}

footer .tel, footer .email {
  background-position: left;
  background-size: 15px;
  background-repeat: no-repeat;
  padding-left: 25px;
  color: black;
  text-decoration: none;
}
footer .tel:hover, footer .email:hover {
  color: #0097da;
}
footer .tel {
  background-image: url("../images/icons/mobile.svg");
}
footer .email {
  background-image: url("../images/icons/mail.svg");
}
footer input {
  padding: 7px 10px;
  border: none;
  width: 75%;
}
@media (max-width: 768px) {
  footer input {
    width: 100% !important;
  }
}
footer .btn {
  background-color: #0097da;
  color: white;
  margin-left: -6px;
  margin-top: -2px;
  border-radius: 0;
  width: 25%;
}
@media (max-width: 768px) {
  footer .btn {
    display: block;
    margin-left: 0;
    margin-top: 10px;
    width: fit-content;
    width: -moz-max-content;
  }
}
footer .btn:hover {
  color: black;
  background-color: white;
}

.gallery_wrapper {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .gallery_wrapper {
    margin-top: 70px;
  }
}
.gallery_wrapper .nav-item a {
  color: black;
}
.gallery_wrapper .nav-item a:hover {
  color: #0097da;
}
.gallery_wrapper .tab-content {
  max-height: 600px;
  overflow: auto;
}
@media (max-width: 768px) {
  .gallery_wrapper .tab-content .tab-pane {
    padding: 0 10px;
  }
}
.gallery_wrapper .tab-content .tab-pane .column {
  flex: 33.2%;
}
.gallery_wrapper .tab-content .tab-pane .column img {
  width: 100%;
  margin-top: 5%;
  filter: grayscale(1);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.gallery_wrapper .tab-content .tab-pane .column img:hover {
  filter: grayscale(0);
}
@media (max-width: 768px) {
  .gallery_wrapper .tab-content .tab-pane .column img {
    filter: grayscale(0);
  }
}
.gallery_wrapper .tab-content .tab-pane .column:nth-child(1), .gallery_wrapper .tab-content .tab-pane .column:nth-child(2) {
  margin-right: 0.1%;
}
@media (max-width: 768px) {
  .gallery_wrapper .tab-content .tab-pane .column {
    flex: 47%;
    padding: 0 5px;
  }
  .gallery_wrapper .tab-content .tab-pane .column:nth-child(1) {
    margin-right: 0%;
  }
  .gallery_wrapper .tab-content .tab-pane .column:nth-child(2) {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .gallery_wrapper .desktop-gallery, .gallery_wrapper #myTab {
    display: none;
  }
}
.gallery_wrapper #myMobileTab {
  display: none;
}
@media (max-width: 768px) {
  .gallery_wrapper #myMobileTab {
    display: flex;
  }
}
.gallery_wrapper .mobile-gallery {
  display: none;
}
@media (max-width: 768px) {
  .gallery_wrapper .mobile-gallery {
    display: block;
  }
}

.gallery_modal {
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  display: none;
  height: 100vh;
  background-color: rgba(31, 31, 31, 0.91);
  z-index: 1000;
}
.gallery_modal img {
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .gallery_modal img {
    height: auto;
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
